/* Source file: globals.R
 * App version: 2.0.1
 * -----------------------------
**/

body {
  background-color:#999966;
}


#fdbk-link {
  color:#FFFFFF;
  font-weight:bold;
}

#endpt {
  color:#FFFFFF;
  font-style:italic;
}